@fortawesome:registry=https://npm.fontawesome.com/
@oceanswave:registry=https://npm.pkg.github.com/oceanswave
//npm.fontawesome.com/:_authToken=${FONT_AWESOME_AUTH_TOKEN}
//npm.pkg.github.com/:_authToken=${GPR_AUTH_TOKEN}